[project]
name = "momentum"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "h5py>=3.15.1",
    "numba>=0.63.1",
    "numpy>=2.2.6",
    "polars>=1.36.1",
    "tqdm>=4.67.1",
]
